{% extends "html5base.html" %}
{% block html_attributes %}lang="en"{% end %}
{% block head_content %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Sarfis - 403</title>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="../static/css/panel.css">
{% end %}
{% block body_content %}
<div id="wrapper">
    <div id="panel">
        <div id="title">
            🅢🅐🅡🅕🅘🅢
        </div>

        <div class="message">
          403
        </div>
    </div>
</div>
{% end %}
