[Unit]
Description=__servicedescription__

[Service]
User=__user__
Group=__group__
WorkingDirectory=__workingdir__
ExecStart=/bin/bash __workingdir__/run.sh
Restart=always

[Install]
WantedBy=multi-user.target
