[Unit]
Description=__servicedescription__

[Service]
User=root
Group=root
WorkingDirectory=__workingdir__
ExecStart=/bin/bash __workingdir__/run.sh
Restart=always

[Install]
WantedBy=multi-user.target
