@page
@model MoonlightDashboard.Pages.MaintenanceModel
@{
}
<form method="post" asp-page-handler="DeleteModsAcfFile">
    <input type="submit" value="Delete mods acf file" />
</form>

<form method="post" asp-page-handler="InstallSteamCmd">
    <input type="submit" value="Install Steam CMD"/>
</form>