Unit]
Description=Moonlight dashboard

[Service]
User=root
Group=root
WorkingDirectory=/root/MoonlightServerScripts/MoonlightDashboard
ExecStart=dotnet watch run --no-hot-reload
Restart=always

[Install]
WantedBy=multi-user.target
