@page
@model MoonlightDashboard.Pages.JobsModel
@{
}
Jobs(@Model.Jobs.Count()):
<br />
<form method="post" asp-page-handler="Clear">
    <input type="submit" value="Clear Done Jobs" />
</form>
@if (Model.Jobs.Any())
{
    <table class="jobs">
        <tr>
            <th>Job Name</th>
            <th>Job Status</th>
            <th>Job Info</th>
            <th>Job Error</th>
        </tr>
        @foreach (var job in Model.Jobs)
        {
            <tr>
                <td>@job.JobType</td>
                <td>
                    @if (job.IsComplete)
                    {
                        @if (job.IsSuccessful)
                        {
                            <text>done</text>
                        }
                        else
                        {
                            <text>failed</text>
                        }
                    }
                    else
                    {
                        @if (job.IsRunning)
                        {
                            <text>running</text>
                        }
                        else
                        {
                            <text>pending</text>
                        }
                    }
                </td>
                <td>@job.Data</td>
                <td>@job.ErrorMessage</td>
            </tr>
        }
    </table>
}
else
{
    <text>No Jobs here yet</text>
}