@page
@model MoonlightDashboard.Pages.MaintenanceModel
@{
}
<form method="post" asp-page-handler="DeleteModsAcfFile">
    <input type="submit" name="delete-mods-acf" value="Delete mods acf file" />
</form>