@using MoonlightDashboard.Lib
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Moonlight Dashboard - @ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/css/site.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/6.14.1/system.min.js" integrity="sha512-5QtTSqKLlp9G1SmuQYBgk5t+rZ0/6yaqL/KGzq1Js66iUdLSgBBhIeOWGQa0GAe4fbo+gcw2dGzBdq2FdHGp9w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/6.14.1/extras/named-register.min.js" integrity="sha512-39r+vbVeH7CzYcOoCmhpL6ncvvKdZn2tLJ8bIZ/mrVLzW6RsKYVQk1vTJwUuOtt0l/4xYADGHWpfAW20rMhaBg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    @RenderSection("css", required: false)
</head>
<body>
    <div class="container">
        <nav class="navigation">
            <ul class="nav">
                @if (Context.IsLoggedIn())
                {
                    <li>
                        <a href="/logout">Logout</a>
                    </li>
                    <li>
                        <a href="/">Index</a>
                    </li>
                    <li>
                        <a href="/servers">Servers</a>
                    </li>
                    <li>
                        <a href="/mods">Mods</a>
                    </li>
                    <li>
                        <a href="/modsets">Modsets</a>
                    </li>
                    <li>
                        <a href="/jobs">Jobs</a>
                    </li>
                    @if (Context.HasPermission("Admin")){
                        <li>
                            <a href="/users">Users</a>
                        </li>
                        <li>
                            <a href="/settings">Settings</a>
                        </li>
                        <li>
                            <a href="/maintenance">Maintenance</a>
                        </li>
                    }
                }
                else
                {
                    <li>
                        <a href="/login">Login</a>
                    </li>
                    <li>
                        <a href="/register">Register</a>
                    </li>
                }
            </ul>
        </nav>
        <main class="main">
            @RenderBody()
        </main>
    </div>
    <script type="text/javascript" src="/js/site.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>