<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="{{get_lang()}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Sarfis - 404</title>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="../static/css/panel.css">
</head>
<body>

<!-- Padge starts -->

<div id="wrapper">
    <div id="panel">
        <div id="title">
            🅢🅐🅡🅕🅘🅢
        </div>

        <div class="message">
          404
        </div>
    </div>
</div>

<!-- Padge ends -->

</body>
</html>
