{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block main %}
Server status: {{status}}<br/>
<form method="post">
    <input type="submit" name="start" value="Start"/>
    <input type="submit" name="stop" value="Stop"/>
    <input type="submit" name="restart" value="Restart"/>
    <input type="submit" name="enable" value="Enable"/>
    <input type="submit" name="disable" value="Disable"/>
</form>
<br/>
Log (not live, refresh page):<br/>
<textarea class="log">
{{log}}
</textarea>
{% endblock %}