{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block main %}
{% for i in range(servers|length) %}
<h3>Server <a href="/servers/{{servers[i].id}}">{{ servers[i].name }}</a></h3>
running on port {{servers[i].port }}<br/>
Status: {{statuses[i]}}<br/>
<form method="post">
    <input type="hidden" name="server-id" value="{{servers[i].id}}"/>
    <input type="submit" name="start" value="Start"/>
    <input type="submit" name="stop" value="Stop"/>
    <input type="submit" name="restart" value="Restart"/>
    <input type="submit" name="enable" value="Enable"/>
    <input type="submit" name="disable" value="Disable"/>
</form>
<br/>
{% else %}
No servers created yet. Create one on the <a href="/servers">servers</a> page
{% endfor %}
{% endblock %}