{% extends "layout.html" %}
{% block title %}Server{% endblock %}
{% block main %}
<h3>Modset Info:</h3>
Name: {{modset.name}}<br/>
Active Mods: {{ modset.active_mods | length }}
<form method="POST">
    <input type="hidden" name="action" value="delete"/>
    <input type="submit" style="color:red;" value="Delete Modset">
</form>
<h3>Mods:</h3>
<form method="post">
    <table>
        <tr>
            <th>Mod Id</th>
            <th>Mod Name</th>
            <th>Active</th>
        </tr>
        {% for mod_id, mod_name in all_mods.items() %}
        <tr>
            <td>{{mod_id}}</td>
            <td>{{mod_name}}</td>
            <td><input type="checkbox" class="normal-mod" name="mod_{{mod_id}}" {% if mod_id in modset.active_mods %} checked{% endif %}></td>
        </tr>
        {% endfor %}
    </table>
    <button onclick="deselectAll('normal-mod')">Deselect All</button>
    <button onclick="selectAll('normal-mod')">Select All</button>
    <h4>active but not installed:</h4>
    <table>
        <tr>
            <th>Mod Id</th>
            <th>Mod Name</th>
            <th>Active</th>
        </tr>
        {% for mod_id,mod_name in active_uninstalled_mods.items() %}
        <tr>
            <td>{{mod_id}}</td>
            <td></td>
            <td><input type="checkbox" class="uninstalled-mod" name="mod_{{mod_id}}" checked></td>
        </tr>
        {% endfor %}
    </table>
    <button onclick="deselectAll('uninstalled-mod')">Deselect All</button>
    <button onclick="selectAll('normal-mod')">Select All</button>
    <input type="hidden" name="action" value="update"/>
    <input type="submit" value="Save Modset">
</form>
<script>

    function selectAll(className){
        let chkbxs = document.querySelectorAll("input."+className);
        for(chkbx of chkbxs){
            chkbx.checked = true;
        }
    }

    function deselectAll(className){
        let chkbxs = document.querySelectorAll("input."+className);
        for(chkbx of chkbxs){
            chkbx.checked = false;
        }
    }

</script>
{% endblock %}