{% if user %}
<li>
    <a href="/logout">Logout</a>
</li>
<li>
    <a href="/">Index</a>
</li>
<li>
    <a href="/servers">Servers</a>
</li>
<li>
    <a href="/mods">Mods</a>
</li>
<li>
    <a href="/modsets">Modsets</a>
</li>
<li>
    <a href="/jobs">Jobs</a>
</li>
{% if has_permission('admin') %}
<li>
    <a href="/users">Users</a>
</li>
<li>
    <a href="/settings">Settings</a>
</li>
<li>
    <a href="/maintenance">Maintenance</a>
</li>
{% endif %}
{% else %}
<li>
    <a href="/login">Login</a>
</li>
<li>
    <a href="/register">Register</a>
</li>
{% endif %}