{% extends "layout.html" %}
{% block title %}Servers{% endblock %}
{% block main %}
<form method="POST">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" autocomplete="off" name="name"/></td>
        </tr>
        <tr>
            <td>Port:</td>
            <td><input type="number" autocomplete="off" name="port" value="2302" placeholder="2302" step="1"/></td>
        </tr>
    </table>
    <input type="submit" value="Create new Server"/>
</form>
{% endblock %}