{% extends "pagebase.html" %}
{% block title_content %}Mod Linker{% end %}
{% block main %}
available mods({{len(mod_infos}}):<br/>
<button onclick="selectAll()">Select All</button>
<button onclick="selectNone()">Select None</button>
<br/>
<form method="post">
    <table class="mods">
        <tr>
            <th>Selected</th>
            <th>Mod Id</th>
            <th>Mod name</th>
        </tr>
        {% for mod_info in mod_infos %}
        <tr>
            <td><input type="checkbox" name="chk_{{mod_info['id']}}" checked/></td>
            <td>{{ mod_info['id'] }}</td>
            <td>{{ mod_info['name'] }}</td>
        </tr>
        {% end %}
    </table>
    <input type="submit" name="create" value="Link Mods"/>
</form>
<script>
    var boxes = document.querySelectorAll('input[type=checkbox]');

    function setAllChecked(checked){
        for(var i =0; i< boxes.length; i++){
            boxes[i].checked = checked;
        }
    }

    function selectAll(){
        setAllChecked(true);
    }
    function selectNone(){
        setAllChecked(false);
    }
</script>
{% end %}