{% extends "pagebase.html" %}
{% block title_content %}Mod Downloader{% end %}
{% block main %}


Jobs:<br/>
{% if len(job_infos) > 0 %}
<table class="jobs">
    <tr>
        <th>Job Name</th>
        <th>Job Status</th>
        <th>Job Info</th>
        <th>Job Error</th>
    </tr>
    {% for job_info in job_infos %}
    <tr>
        <td>{{ job_info['name'] }}</td>
        <td>{{ job_info['status'] }}</td>
        <td>{{ job_info['info'] }}</td>
        <td>{{ job_info.get('error','') }}</td>
    </tr>
    {% end %}
</table>
{% else %}
No Jobs here yet
{% end %}
{% end %}