{% extends "layout.html" %}
{% block title %}Server{% endblock %}
{% block main %}
<h3>Server Info:</h3>
<table>
    <tr>
        <td>Server Name</td>
        <td>{{server.name}}</td>
    </tr>
    <tr>
        <td>Server Port</td>
        <td>{{server.port}}</td>
    </tr>
    <tr>
        <td>Modset</td>
        <td>
            <form method="POST">
                <select name="modset">
                    <option value="">None</option>
                    {% for modset in modsets %}
                    {% if modset.id == server.modset_id %}
                    <option selected value="{{modset.id}}">{{modset.name}}</option>
                    {% else %}
                    <option value="{{modset.id}}">{{modset.name}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <input type="hidden" name="action" value="set_modset"/>
                <input type="submit" value="Set Modset"/>
            </form>
        </td>
    </tr>
</table>
<h3>Log:</h3>
<textarea class="log file">
{{log}}
</textarea>
<h3>Basic Config</h3>
<form method="post">
    <textarea name="content" class="file">{{basic_config_content}}</textarea>
    <input type="hidden" name="action" value="update_basic_config"/>
    <input type="submit" value="Update Basic Config"/>
</form>
<form method="post">
    <input type="hidden" name="action" value="reset_basic_config"/>
    <input type="submit" value="Reset Basic Config"/>
</form>
<h3>Server Config</h3>
<form method="post">
    <textarea name="content" class="file">{{server_config_content}}</textarea>
    <input type="hidden" name="action" value="update_server_config"/>
    <input type="submit" value="Update Server Config"/>
</form>
<form method="post">
    <input type="hidden" name="action" value="reset_server_config"/>
    <input type="submit" value="Reset Server Config"/>
</form>
<h3>Server Profile</h3>
<form method="post">
    <textarea name="content" class="file">{{server_profile_content}}</textarea>
    <input type="hidden" name="action" value="update_server_profile"/>
    <input type="submit" value="Update Server Profile"/>
</form>
<form method="post">
    <input type="hidden" name="action" value="reset_server_profile"/>
    <input type="submit" value="Reset Server Profile"/>
</form>
{% endblock %}