{% extends "layout.html" %}
{% block title %}Servers{% endblock %}
{% block main %}
<table>
    <tr>
        <th>Server Name</th>
        <th>Server Port</th>
        <th>Server Modset</th>
    </tr>

{% for server in servers %}
<tr>
    <td><a href="/servers/{{server.id}}">{{server.name}}</a></td>
    <td>{{server.port}}</td>
    <td>
        {% if server.modset_id %}
        <a href="/modsets/{{server.modset_id}}">{{server.modset}}</a>
        {% else %}
        {{server.modset}}
        {% endif %}
    </td>
</tr>
{% endfor %}
</table>
<a href="/new_server">
    <button>Create new Server</button>
</a>
<form method="POST">
    <table>
        <tr>
            <td>
                User
            </td>
            <td>
                <input type="text" name="user" placeholder="User"/>
            </td>
        </tr>
        <tr>
            <td>
                Password
            </td>
            <td>
                <input type="password" name="password" placeholder="Password"/>
            </td>
        </tr>
        <tr>
            <td>
                2FA code
            </td>
            <td>
                <input type="text" autocomplete="off" name="auth_code" placeholder="2FA code"/>
            </td>
        </tr>
        <tr>
            <td>

            </td>
            <td>
                <input type="submit" name="update-server" value="Update Server Software"/>
            </td>
        </tr>
    </table>
</form>
{% endblock %}