{% extends "layout.html" %}
{% block title %}User{% endblock %}
{% block main %}
<h3>User Info:</h3>
<table>
    <tr>
        <td>User Name</td>
        <td>{{user.name|e}}</td>
    </tr>
    <tr>
        <td>Permissions</td>
        <td>
            <form method="post">
                <input type="hidden" name="action" value="set-permissions"/>
                <input type="text" autocomplete="off" name="permissions" value="{{', '.join(user.permissions or [])|e}}"/>
                <input type="submit" value="Set Permissions"/>
            </form>
        </td>
    </tr>
    <tr>
        <td>Activated</td>
        <td>
            {% if user.activation_timestamp %}
            {{user.activation_timestamp_str}}
            {% else %}
            <form method="post">
                <input type="hidden" name="action" value="activate"/>
                <input type="submit" value="Activate"/>
            </form>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>
        </td>
        <td>
            <form method="post">
                <input type="hidden" name="action" value="delete"/>
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
</table>
{% endblock %}