@page "/Servers/{id}/ServerProfile"
@model MoonlightDashboard.Pages.Servers.ServerProfileModel

<h3>Server Profile</h3>
<form method="post" asp-page-handler="Update">
    <textarea name="content" class="file" style="height:50em;">@Model.ServerApi.GetServerProfileFileContents()</textarea>
    <input type="submit" value="Update Server Profile" />
</form>
<form method="post" asp-page-handler="Reset">
    <input type="submit" value="Reset Server Profile" />
</form>
